.App {
  text-align: center;
}

.navigation {
  float: left;
  display: block;
  text-decoration: none;
  background-color: #a4b1a7;
  padding: 10px;
  color: white;
  margin-top: 1px;
}

.active {
  background-color: #7a9982;
}

.warn {
  color: red;
}

.menu-item {
  margin: 40px;
  float: right;
  background-color: #2c3b30;
  text-decoration: none;
  color: white;
  padding: 10px;
}


.App-header {
  background-color: #a4b1a7;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: white;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.pad-4 {
  padding: 40px;
}

.pad-1 {
  padding: 10px;
}

